<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}my portfolio{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}?v=1.0">
    </head>
    <body>
        <nav>
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('about')}}">About</a>
            <a href="{{url_for('projects')}}">Project</a>
            <a href="{{url_for('contact')}}">Contact</a>
            <a href="{{url_for('location')}}">Location</a>
        </nav>
        <div class="content">{% block content %}{% endblock %}</div>
        
    </body>
</html>